:root {
  --crsl-bg: transparent;
  --box-bg: #e0e0e0;
  --box-shadow: #0000001c;
  --box-shadow-border: #0000000f;
  --box-border: rgba(75, 75, 75, 0.096);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #2f3539;
  /* background: -moz-radial-gradient(circle, #2f3539 0%, #1e272e 100%);
    background: -webkit-radial-gradient(circle, #2f3539 0%, #1e272e 100%);
    background: radial-gradient(circle, #2f3539 0%, #1e272e 100%); */
  background: -moz-radial-gradient(circle, #ffffff 0%, #e4e4e4 100%);
  background: -webkit-radial-gradient(circle, #e4e4e4 0%, #ffffff 100%);
  background: radial-gradient(circle, #e4e4e4 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3539", endColorstr="#1e272e", GradientType=1);
}

html *,
body * {
  font-family: "Source Sans Pro", sans-serif;
}

html>p,
body>p {
  font-size: 0.95em;
  font-weight: bold;
  position: absolute;
  top: 7.5%;
  width: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: left;
  color: white;
  user-select: none;
}

/* html>.carousel, body>.carousel {
  padding-top: 125px;
} */

.carousel {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
  background-color: #dbdbdb;
  /* remove this if needed */
  padding: 100px 0 50px;
  padding-top: 50px;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  bottom: -15%;
  transition: transform 0.25s ease;
}

.carousel__prev i,
.carousel__next i {
  font-size: 60px;
  color: var(--box-border);
  cursor: pointer;
}

.carousel__prev:hover,
.carousel__next:hover {
  transform: scale(1.5);
}

.carousel__prev {
  left: 40%;
}

.carousel__next {
  right: 40%;
}

.carousel__body {
  width: 100%;
  padding: 20px 0 50px 0;
  overflow: hidden;
}

.carousel__body .carousel__slider {
  position: relative;
  transition: transform 1s ease-in-out;
  background: var(--crsl-bg);
}

.carousel__body .carousel__slider__item {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel__body .carousel__slider__item .item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel__body .carousel__slider__item .item__3d-frame:after {
  content: "";
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 40px;
  background: var(--box-shadow);
  box-shadow: 0px 0px 5px 5px var(--box-shadow);
  transform: rotateX(90deg) translate3d(0px, -20px, 0px);
  opacity: 0.85;
}

.carousel__body .carousel__slider__item .item__3d-frame__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  border-color: var(--box-border);
  background: var(--box-bg);
  border-width: 3px;
  border-style: solid;
}

.carousel__body .carousel__slider__item .item__3d-frame__box h1 {
  font-size: 7em;
  width: 100%;
  color: var(--box-border);
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right,
.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  top: 0;
  width: 40px;
  backface-visibility: hidden;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  left: 0;
  border-left-width: 5px;
  transform: translate3d(1px, 0, -40px) rotateY(-90deg);
  transform-origin: 0%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right {
  right: 0;
  border-right-width: 5px;
  transform: translate3d(-1px, 0, -40px) rotateY(90deg);
  transform-origin: 100%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box .img-and-name-container {
  width: 95%;
  flex-direction: row;
  height: 15vw;
  min-height: 100%;
  min-width: 100%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box .img-and-name-container .achiever-img {
  height: 27vw;
  width: 80%;
  border-radius: 300px;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.heading {
  padding-top: 100px;
  font-size: 45px;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}

.text-heading {
  text-align: center;
  font-size: 18px;
}

.card-title {
  padding-top: 10px;
}

.card-text {
  padding-top: 5px;
  font-size: 13px;
  color: grey;
  word-spacing: 3px;
}

/* div > *:not(:last-child) {
  display: block;
  margin-bottom: 30px; 
}  */

.card-img-top {
  width: 100%;
  display: block;
  min-width: 5%;
  height: auto;
  object-fit: contain;
}

footer {
  margin-top: 150px;
}

.fa-facebook:before {
  content: "\f09a";

  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  line-height: 110px;

}

.fa-instagram::before {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  line-height: 110px;

}

.fa-linkedin::before {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  line-height: 110px;

}

.fa-telegram::before {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  line-height: 110px;

}


a i {
  transition: all 0.3s linear;

}

a:hover i {
  transform: scale(1.4);
}

.fa-facebook {
  color: #0097e6;
}

.fa-instagram {
  color: #e84393;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-telegram {
  color: #0088cc;
}