main {
    height: 100vh;
    background-image: url(../img/contact.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-container {
    height: 60%;
    width: 70%;
    text-align: center;
    background-color: rgba(213, 219, 223, 0.5);
    border-radius: 15px 50px 30px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.contact-container h2 {
    letter-spacing: 5px;
    margin: 1rem auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: auto 4rem;
}

textarea {
    height: 6rem !important;
}

.inputbox {
    width: 100%;
    height: 2rem;
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1.6px solid white;
    resize: none;
    outline: none;
}

.submit-btn {
    width: 100%;
    background: #FF4C29;
    /*FF4C29*/
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
}

.submit-btn:hover {
    background: #ff4d299d;
}

.fa-facebook:before {
    content: "\f09a";

    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;

}

.fa-instagram::before {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;

}

.fa-linkedin::before {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;

}

.fa-telegram::before {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;

}


a i {
    transition: all 0.3s linear;

}

a:hover i {
    transform: scale(1.4);
}

.fa-facebook {
    color: #0097e6;
}

.fa-instagram {
    color: #e84393;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-telegram {
    color: #0088cc;
}

@media screen and (max-width: 900px) {
    .contact-form {
        margin: auto 2rem;
    }

    .contact-container {
        width: 90%;
    }
}