main{
    height: 100vh;
	background-image: url(../img/contact.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.contact-container{
    height: auto;
    width: 50%;
    text-align: center;
    background-color: rgba(213, 219, 223, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.contact-container h2{
    letter-spacing: 5px;
    margin: 1rem auto;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: auto 4rem;
}
textarea{
    height: 6rem !important;
}
.inputbox{
    width: 100%;
    height: 2rem;
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1.6px solid white;
    resize: none;
    outline: none;
}
.submit-btn{
    width: 100%;
    background: #FF4C29; /*FF4C29*/
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
}
.submit-btn:hover{
    background: #ff4d299d;
}
@media screen and (max-width: 900px) {
    .contact-form{
        margin: auto 2rem;
    }
    .contact-container{
        width: 90%;
    }
}